*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
   } 
   *,*:before,*:after{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
   } 
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   html,body{ 
    height: 100%; 
    width: 100%; 
    font-size: 100%; 
    line-height: 1; 
    font-size: 14px; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
   } 

   html{
    scroll-behavior: smooth;
   }
   
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 700;}

body{
   background-image:url(/images/деревья3.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   font-family: "Bitter", serif;
   line-height: 30px;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-variation-settings:
    "wdth" 100;
   font-size: 20px;
   color: #363535;
}

header{
    background-color:#eca33c;
    padding:20px 1%;
    font-size: 40px;
    font-family: "Bitter", serif;
    opacity: 0.8;
    background-blend-mode:overlay;
    color: #363535;
}
.Акыда__навигация{
    display: flex;
    justify-content: space-around;
}
.Акыда__НавCсылки{
    display: flex;
    flex-direction: column;
}
.Акыда__сылкаРаздел{
    color: #363535;
    margin-top: 5px;
    font-size: 30px;
}
.Акыда__сылкаРаздел::before{
    content:'‣'
}
h1{
    display: inline-block;
    text-align: right;
    color: #363535;
}
details summary{
    list-style: none;
}
details summary:before{
    content:'‣';
}
details[open] summary:before{
    content:'▾';
}
.описание{
    background-color:#f0f0f0;
    opacity: 0.7;
}
.Акыда{
    margin:4%;
    scroll-margin-top: 40px;
}

.Акыда__тема{
    font-family: "Bitter", serif;
    text-align: center;
    margin-bottom: 15px;
}    
.Адаб__Темы{
    font-family: "Bitter", serif;
    text-align: center;
    font-size: 25px; 
    margin-bottom: 15px;
}
.Адаб__ТемыТема{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Адаб__ТемыТема:before{
    content:'‣';
}
.Адаб__заголовок{
    font-family: "Bitter", serif;
    font-size: 27px;
    margin-top: 40px;
    margin-bottom: 10px;
}